.site-header { border-top: 5px solid white; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

a:hover,.site-title:hover { color: #111; text-decoration: None}

body {
    text-align: justify;
    font-family: 'Titillium Web', -apple-system, Helvetica, 'EB Garamond', BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;
}

.page-link {
    color: white;
}

.site-header {
    border-top: 1px;
    // background-color: #00506e;
}

.site-title, .site-title:visited { 
    // font-family: Raleway, Inconsolata, Ubuntu Mono; 
    font-weight: bold;
    // color: white;
}

.project-item-container {
    // min-height: 140px; 
    // margin-bottom: 1rem; 
    overflow: hidden;
}

.project-item-img-container {
    float: left; 
    width: 20%;
}

.project-item-img {
    display: block;
    margin: auto;
}

.project-item-text-container {
    float: right; 
    width: 80%;
}

.project-item-text {
    margin-left: 1rem;
}


// .site-title:hover {
//     color: #c9c9c9;
// }

.site-footer > p {
    position:relative;
    text-align:center;
    font-size: 12px;
}

.post-meta {
    // display: none;
}

// p {
//     text-align: justify;
//     // margin-bottom: 0;
// }

// .img_container > p {
//     text-align: center;
// }

.center {
    // text-align: center;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    text-align: left;
}

// .MathJax {
//     font-size: 1px !important;
// }

.post-title {
    font-size: 36px;
    font-weight: 600;
}

a { color: #00688e; text-decoration: none; }

a:visited { color: #00688e; }

a:hover { color: #111; text-decoration: None; }

.post-link { font-size: 22px; }

blockquote {
    font-style: normal;
}

.algo, .box {
    border: 1px solid #eef;// e8e8e8
    border-radius: 5px;
    padding: 8px 12px; 
    background: #00506e; //eef
    margin-bottom: 15px; 
    color: white;
    font-size: 15px;
}

.box2 {
    border: 0px solid; //ffb669
    border-radius: 5px;
    padding: 8px 12px; 
    background: #e6e6e6; //ffd4a6
    margin-bottom: 15px; 
    font-size: 15px;
}

.algo > p, .box > p, .box2 > p {
    margin-bottom: 0;
    // font-family: monospace;
    
}

.red {
    color: red;
}
