<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

<!-- LATEX -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- FONT -->
<!-- <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">  -->
<!-- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">  -->
<!-- <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">  -->
<!-- <link href="https://fonts.googleapis.com/css?family=David+Libre" rel="stylesheet">  -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Halant" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">  -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap" rel="stylesheet">
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML'>
</script>

<!-- PSEUDOCODE -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\\[','\\]']],
            processEscapes: true,
            processEnvironments: true,
        }
    });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
<script src="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.js">
</script>
<!-- <script>
  pseudocode.renderElement(document.getElementByClass("algo"));
</script> -->